.lista__opciones{
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
}

.lista__opciones label{
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.lista__opciones select{
    width: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 30px 20px;
    outline-color: #6278f7;
    font-size: 1rem;
}