@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Prata', serif;
*/


body {
  margin: 0;
  font-family: 'Prata', serif;
}

